header {
    vertical-align: middle;
    margin-bottom: 10px;
}

.header-logo {
    height: 50px;
    vertical-align: inherit;
}

.header-title {
    font-size: 35px;
    font-weight: bold;
    vertical-align: inherit;
    font-family: Arial, Helvetica, sans-serif;
}

main {
    background-color: #b1bbf8;
    height: 1000px;
    padding-top: 50px;
}

.container {
    background-color: #fff;
    margin: auto;
    border-radius: 3px;
}

.container {
    width: 60%;
    
}

.container.one {
    margin-bottom: 5px;
}

.button {
    border-radius: 5px;
    text-align: center;
    padding: 5px;
}

.button.left {
    background-color: #47adf1;
    color: #fff;
    border: #fff;
}

.button.right {
    background-color: #fff;
    border: 1px solid #c6bdd0;

}